<p id="welcome-text">
  Welcome to my website!  I am trying to create an application that describes perfectly who I am.  Eventually, information about me should be listed here, including school and work info, social media sites, my current ranks in each video game I play, my current projects, and my views on politics.
  I am not taking comments at this time.  Developing a ruby webapp is a new endeavor for me, so it will take some effort on my part to include a commenting feature.
  When you are paying 99cents (+tax) for hosting/domain name/web development, you come to realize that you have to implement most of the features yourself.
</p>
