<div id="welcome-text">
  <p>Welcome to my website!</p>
  <p>Eventually, information about me should be listed here, including school and work info, social media sites, my current ranks in each video game I play, my current projects, and my views on politics.</p>
  <p>I also have a few points to make about the underdeveloped nature of this site.  Developing a ruby webapp is a new endeavor for me, so it will take some effort on my part to include a commenting feature
    (sorry, I cannot appease the trolls at this time).  When you are paying 99cents (+tax) for hosting/domain name/web development, you come to realize that you have to implement most of the features yourself.</p>
</div>
