/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: url('background-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#nav-bar li {
  float: left;
}

#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  bottom: 0;
}

#nav-bar li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  font-family: cursive;
}

#nav-bar li a:hover {
  background-color: #111;
  color: white
}

#body-container {
  position: relative;
  margin-top: 10em;
}

#side-bar {
  border: 1px solid black;
  padding: 10px;
  margin-top: 25px;
  height: 1000px;
  background-color: #B9B7A7;
  /*position: absolute;*/
}

#side-bar a {
  text-decoration: none;
  text-shadow: 2px 2px 8px #FFFFF0;
  color: white;
}

#side-bar a:link {

}

#side-bar a:hover {
  font-weight: bold;
  text-shadow: 3px 3px 10px #010101;
  background-color: inherit;
}

#side-bar a:active {
  font-weight: bolder;
}

#side-bar a:visited {
  color: white;
}

#inner-container {
  position: absolute;
  margin: 25px;
}

#side-bar tr td {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  padding: 0px 5px;
  color: white;
  text-align: center;
}

/*#side-bar tr td:nth-child(even) {
  text-align: center;
}*/

#side-bar tr:nth-child(odd) {
  background-color: #3D4656;
}

#side-bar tr:nth-child(even) {
  background-color: #5D8A79;
}

#side-bar td:nth-child(odd) {
  width: 100px;
}

#side-bar td:nth-child(even) {
  width: 200px;
}

.website-header {
  display: inline-block;
  width: 50%;
  text-align: center;
  height: 10em;
  position: relative;
}

.header-wrapper {
  background-color: #333;
  height: 10em;
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
}

.title-wrapper {
  position: relative;
  top: 33%;
  transform: translateY(-50%);
}

.website-header h1 {
  font-size: 3em;
  color: red;
}

.website-header h2 {
  font-size: 2em;
  color: red;
}

.inline {
  display: inline-block;
}

/*.nav-bar-container {
  top: 0;
  bottom: 0;
  position: relative;
}*/
